body {
  background: #000000;
  padding: 32px;
}

.text-link {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: none;
  transition: 250ms ease;
}

.text-link:hover {
  padding-bottom: 32px;
  color: transparent;
}

.text-link:hover::after {
  color: #279DFF;
  transform: translateY(-40px);
  opacity: 1;
}

.text-link::after {
  content: attr(data-link-text);
  position: absolute;
  left: 0;
  bottom: -120%;
  width: 100%;
  height: 100%;
  transition: 350ms ease;
  opacity: 0;
}
